{% set title = 'Контакты' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!-- ================================page__hero================================= -->
<div class="page__hero page__hero__404">
	<div class="container">
		<ul class="breadcrumbs">
			<span>
				<span>
					<a href="https://alliance-ar.com/">Главная страница</a> » 
					<span class="breadcrumb_last" aria-current="page">Контакты</span>
				</span>
			</span>
		</ul>
		<h1 class="page__title">Страница не найдена <br>Ошибка 404</h1>
		<a href="" class="btn">Вернуться на главную</a>
	</div>
</div>
<!-- ================================END page__hero================================= -->


{% endblock %}