{% set title = 'Новости' %} {% extends 'layouts/_main.html' %} {% block
content %}

<!-- ================================page__hero================================= -->
<div class="page__hero">
  <div class="container">
    <ul class="breadcrumbs">
      <span>
        <span>
          <a href="https://alliance-ar.com/">Главная страница</a> »
          <span class="breadcrumb_last" aria-current="page">Новости</span>
        </span>
      </span>
    </ul>
    <h1 class="page__title">Новости</h1>
    <div class="page__desc">Самые свежие новости нашей компании</div>
  </div>
</div>
<!-- ================================END page__hero================================= -->

<!-- ================================news================================= -->
<div class="news sec">
  <div class="container">
    <div class="section__title">Наши новости</div>
    <div class="news__items">
      <!-- news__item -->
      <div class="news__item">
        <div class="news__item__img" style="background-image: url(img/news__img.png);"></div>
        <div class="news__item__content">
          <div class="news__item__date">12 Апреля 2020</div>
          <div class="news__item__title">Новые сертификаты ОЗК-01 и ПВК-2002</div>
          <div class="news__item__desc">
            Краткое описание проекта, его цели и задачи, сложности и время на окончание
          проекта,объёмы и т.д.сложности и время на окончание проекта, объёмы и т.д. описание
          проекта, его цели и задачи, сложности и время на окончание проекта,
          </div>
          <a href="" class="news__item__link">Подробнее</a>
        </div>
      </div>
      <!--END news__item -->
      <!-- news__item -->
      <div class="news__item">
        <div class="news__item__img" style="background-image: url(img/news__img.png);"></div>
        <div class="news__item__content">
          <div class="news__item__date">12 Апреля 2020</div>
          <div class="news__item__title">Новые сертификаты ОЗК-01 и ПВК-2002</div>
          <div class="news__item__desc">
            Краткое описание проекта, его цели и задачи, сложности и время на окончание
          проекта,объёмы и т.д.сложности и время на окончание проекта, объёмы и т.д. описание
          проекта, его цели и задачи, сложности и время на окончание проекта,
          </div>
          <a href="" class="news__item__link">Подробнее</a>
        </div>
      </div>
      <!--END news__item -->
      <!-- news__item -->
      <div class="news__item">
        <div class="news__item__img" style="background-image: url(img/news__img.png);"></div>
        <div class="news__item__content">
          <div class="news__item__date">12 Апреля 2020</div>
          <div class="news__item__title">Новые сертификаты ОЗК-01 и ПВК-2002</div>
          <div class="news__item__desc">
            Краткое описание проекта, его цели и задачи, сложности и время на окончание
          проекта,объёмы и т.д.сложности и время на окончание проекта, объёмы и т.д. описание
          проекта, его цели и задачи, сложности и время на окончание проекта,
          </div>
          <a href="" class="news__item__link">Подробнее</a>
        </div>
      </div>
      <!--END news__item -->
      <!-- news__item -->
      <div class="news__item">
        <div class="news__item__img" style="background-image: url(img/news__img.png);"></div>
        <div class="news__item__content">
          <div class="news__item__date">12 Апреля 2020</div>
          <div class="news__item__title">Новые сертификаты ОЗК-01 и ПВК-2002</div>
          <div class="news__item__desc">
            Краткое описание проекта, его цели и задачи, сложности и время на окончание
          проекта,объёмы и т.д.сложности и время на окончание проекта, объёмы и т.д. описание
          проекта, его цели и задачи, сложности и время на окончание проекта,
          </div>
          <a href="" class="news__item__link">Подробнее</a>
        </div>
      </div>
      <!--END news__item -->
      <!-- news__item -->
      <div class="news__item">
        <div class="news__item__img" style="background-image: url(img/news__img.png);"></div>
        <div class="news__item__content">
          <div class="news__item__date">12 Апреля 2020</div>
          <div class="news__item__title">Новые сертификаты ОЗК-01 и ПВК-2002</div>
          <div class="news__item__desc">
            Краткое описание проекта, его цели и задачи, сложности и время на окончание
          проекта,объёмы и т.д.сложности и время на окончание проекта, объёмы и т.д. описание
          проекта, его цели и задачи, сложности и время на окончание проекта,
          </div>
          <a href="" class="news__item__link">Подробнее</a>
        </div>
      </div>
      <!--END news__item -->
      <!-- news__item -->
      <div class="news__item">
        <div class="news__item__img" style="background-image: url(img/news__img.png);"></div>
        <div class="news__item__content">
          <div class="news__item__date">12 Апреля 2020</div>
          <div class="news__item__title">Новые сертификаты ОЗК-01 и ПВК-2002</div>
          <div class="news__item__desc">
            Краткое описание проекта, его цели и задачи, сложности и время на окончание
          проекта,объёмы и т.д.сложности и время на окончание проекта, объёмы и т.д. описание
          проекта, его цели и задачи, сложности и время на окончание проекта,
          </div>
          <a href="" class="news__item__link">Подробнее</a>
        </div>
      </div>
      <!--END news__item -->
    </div>
    <div class="news__navs">
      <a href="" class="news__navs__item arrow">
        <img src="img/news__arrowleft.png" alt="">
      </a>
      <a href="" class="news__navs__item">1</a>
      <a href="" class="news__navs__item">2</a>
      <a href="" class="news__navs__item active">3</a>
      <a href="" class="news__navs__item">4</a>
      <a href="" class="news__navs__item arrow">
        <img src="img/news__arrowright.png" alt="">
      </a>
    </div>

  </div>
</div>
<!-- ================================END news================================= -->



{% endblock %}
