{% set title = 'Новость' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!-- ================================page__hero================================= -->
<div class="page__hero">
	<div class="container">
		<ul class="breadcrumbs">
			<span>
				<span>
					<a href="https://alliance-ar.com/">Главная страница</a> » 
					<a href="https://alliance-ar.com/">Новости</a> » 
					<span class="breadcrumb_last" aria-current="page">Новые сертификаты ОЗК-01 и ПВК-2002</span>
				</span>
			</span>
		</ul>
		<h1 class="page__title">Новые сертификаты ОЗК-01 и ПВК-2002</h1>
		<div class="page__desc">12 Апреля 2020</div>
	</div>
</div>
<!-- ================================END page__hero================================= -->
<div class="news__detail sec">
	<div class="container">
		<div class="news__detail__content">
			<p>Деревянные конструкции широко используются в строительстве для монтажа каркасов крыш, полов, стен.
				Из дерева изготовляются окна и двери, мебель, различные вспомогательные приспособления.
				При всех своих плюсах, у дерева есть одно достаточно опасное свойство — оно горит.
				Причем загорается древесина не только от открытого огня, но и от нагретых частей отопительных печей,
				случайных искр.

				Защита деревянных конструкций и зданий от пожара состоит в том, чтобы исключить возможность
				воспламенения в нормальных условиях эксплуатации. 
				Сухое дерево уже при 125 0С начинает выделять газообразные вещества, которые способны к возгоранию и
				самовоспламенению. Если вблизи появляется источник открытого огня — происходит воспламенение. 
				Дерево начинает прогреваться все больше, интенсивнее выделять горючие соединения. Возникает пожар. 
				Температура в очаге может достигнуть 450 и более градусов Цельсия. 
				При сильном развитии пожара — несколько тысяч градусов.
			</p>
			<img src="img/news__detail.png" alt="">
			<p>
				Защита деревянных конструкций и зданий от пожара состоит в том, чтобы исключить возможность
				воспламенения в нормальных условиях эксплуатации. 
				Сухое дерево уже при 125 0С начинает выделять газообразные вещества, которые способны к возгоранию и
				самовоспламенению. Если вблизи появляется источник открытого огня — происходит воспламенение. 
				Дерево начинает прогреваться все больше, интенсивнее выделять горючие соединения. Возникает пожар. 
				Температура в очаге может достигнуть 450 и более градусов Цельсия. 
				При сильном развитии пожара — несколько тысяч градусов.
			</p>
		</div>
		<div class="news__detail__nav">
			<a href="" class="news__detail__nav__prev">
				<img src="img/news__detail__prev.png" alt="">
				<div class="news__detail__nav__prev__title">Предидущий пост</div>
			</a>
			<a href="" class="news__detail__nav__next">
				<div class="news__detail__nav__next__title">Следующий пост</div>
				<img src="img/news__detail__next.png" alt="">
			</a>
		</div>
	</div>
</div>


{% endblock %}