{% set title = 'Выполненные объекты' %}

{% extends 'layouts/_main.html' %}

{% block content %}
<!-- ================================page__hero================================= -->
<div class="page__hero">
	<div class="container">
		<ul class="breadcrumbs">
			<span>
				<span>
					<a href="https://alliance-ar.com/">Главная страница</a> » 
					<span class="breadcrumb_last" aria-current="page">Сертификаты и лецензии</span>
				</span>
			</span>
		</ul>
		<h1 class="page__title">Выполненные объекты</h1>
		<div class="page__desc">Тут можете посмотреть все выполненные нами объекты</div>
	</div>
</div>
<!-- ================================END page__hero================================= -->
<!-- ================================objects================================= -->
<div class="objects">
	<div class="container">
		<div class="projects__items">
		  <!-- projects__item -->
		  <div class="projects__item">
		    <div class="projects__item__img" style="background-image: url(img/projects__item.png);"></div>
		    <div class="projects__item__title">ТЦ Мега</div>
		    <ul class="projects__item__list">
		      <li><span>Заказчик:</span> ООО «Ингка Сентерс Рус Оперэйшн»</li>
		      <li><span>Объект:</span>  просп. Победы, 141, Казань, Респ. Татарстан.</li>
		      <li><span>Год реализации:</span> 2005</li>
		    </ul>
		    <a href="" class="btn__small">Смотреть подробнее</a>
		  </div>
		  <!--END projects__item -->
		  <!-- projects__item -->
		  <div class="projects__item">
		    <div class="projects__item__img" style="background-image: url(img/projects__item.png);"></div>
		    <div class="projects__item__title">ТЦ Мега</div>
		    <ul class="projects__item__list">
		      <li><span>Заказчик:</span> ООО «Ингка Сентерс Рус Оперэйшн»</li>
		      <li><span>Объект:</span>  просп. Победы, 141, Казань, Респ. Татарстан.</li>
		      <li><span>Год реализации:</span> 2005</li>
		    </ul>
		    <a href="" class="btn__small">Смотреть подробнее</a>
		  </div>
		  <!--END projects__item -->
		  <!-- projects__item -->
		  <div class="projects__item">
		    <div class="projects__item__img" style="background-image: url(img/projects__item.png);"></div>
		    <div class="projects__item__title">ТЦ Мега</div>
		    <ul class="projects__item__list">
		      <li><span>Заказчик:</span> ООО «Ингка Сентерс Рус Оперэйшн»</li>
		      <li><span>Объект:</span>  просп. Победы, 141, Казань, Респ. Татарстан.</li>
		      <li><span>Год реализации:</span> 2005</li>
		    </ul>
		    <a href="" class="btn__small">Смотреть подробнее</a>
		  </div>
		  <!--END projects__item -->
		  <!-- projects__item -->
		  <div class="projects__item">
		    <div class="projects__item__img" style="background-image: url(img/projects__item.png);"></div>
		    <div class="projects__item__title">ТЦ Мега</div>
		    <ul class="projects__item__list">
		      <li><span>Заказчик:</span> ООО «Ингка Сентерс Рус Оперэйшн»</li>
		      <li><span>Объект:</span>  просп. Победы, 141, Казань, Респ. Татарстан.</li>
		      <li><span>Год реализации:</span> 2005</li>
		    </ul>
		    <a href="" class="btn__small">Смотреть подробнее</a>
		  </div>
		  <!--END projects__item -->
		  <!-- projects__item -->
		  <div class="projects__item">
		    <div class="projects__item__img" style="background-image: url(img/projects__item.png);"></div>
		    <div class="projects__item__title">ТЦ Мега</div>
		    <ul class="projects__item__list">
		      <li><span>Заказчик:</span> ООО «Ингка Сентерс Рус Оперэйшн»</li>
		      <li><span>Объект:</span>  просп. Победы, 141, Казань, Респ. Татарстан.</li>
		      <li><span>Год реализации:</span> 2005</li>
		    </ul>
		    <a href="" class="btn__small">Смотреть подробнее</a>
		  </div>
		  <!--END projects__item -->
		  <!-- projects__item -->
		  <div class="projects__item">
		    <div class="projects__item__img" style="background-image: url(img/projects__item.png);"></div>
		    <div class="projects__item__title">ТЦ Мега</div>
		    <ul class="projects__item__list">
		      <li><span>Заказчик:</span> ООО «Ингка Сентерс Рус Оперэйшн»</li>
		      <li><span>Объект:</span>  просп. Победы, 141, Казань, Респ. Татарстан.</li>
		      <li><span>Год реализации:</span> 2005</li>
		    </ul>
		    <a href="" class="btn__small">Смотреть подробнее</a>
		  </div>
		  <!--END projects__item -->
		  <!-- projects__item -->
		  <div class="projects__item">
		    <div class="projects__item__img" style="background-image: url(img/projects__item.png);"></div>
		    <div class="projects__item__title">ТЦ Мега</div>
		    <ul class="projects__item__list">
		      <li><span>Заказчик:</span> ООО «Ингка Сентерс Рус Оперэйшн»</li>
		      <li><span>Объект:</span>  просп. Победы, 141, Казань, Респ. Татарстан.</li>
		      <li><span>Год реализации:</span> 2005</li>
		    </ul>
		    <a href="" class="btn__small">Смотреть подробнее</a>
		  </div>
		  <!--END projects__item -->
		  <!-- projects__item -->
		  <div class="projects__item">
		    <div class="projects__item__img" style="background-image: url(img/projects__item.png);"></div>
		    <div class="projects__item__title">ТЦ Мега</div>
		    <ul class="projects__item__list">
		      <li><span>Заказчик:</span> ООО «Ингка Сентерс Рус Оперэйшн»</li>
		      <li><span>Объект:</span>  просп. Победы, 141, Казань, Респ. Татарстан.</li>
		      <li><span>Год реализации:</span> 2005</li>
		    </ul>
		    <a href="" class="btn__small">Смотреть подробнее</a>
		  </div>
		  <!--END projects__item -->
		  
		</div>
	</div>
</div>
<!-- ================================END objects================================= -->
{% endblock %}