{% set title = 'Отзывы' %} {% extends 'layouts/_main.html' %} {% block
content %}

<!-- ================================page__hero================================= -->
<div class="page__hero">
  <div class="container">
    <ul class="breadcrumbs">
      <span>
        <span>
          <a href="https://alliance-ar.com/">Главная страница</a> »
          <span class="breadcrumb_last" aria-current="page">Отзывы</span>
        </span>
      </span>
    </ul>
    <h1 class="page__title">Отзывы</h1>
    <div class="page__desc">Отзывы компаний, которые доверились нам</div>
  </div>
</div>
<!-- ================================END page__hero================================= -->
<!-- ================================reviews================================= -->
<div class="reviews sec">
  <div class="container">
    <div class="reviews__items">
      <!-- reviews__item -->
      <div class="reviews__item">
        <img src="img/review.png" alt="" class="reviews__item__img">
        <div class="reviews__item__content">
          <div class="reviews__item__head">
            <img src="img/review__logo.png" alt="" class="reviews__item__head__logo">
            <div class="reviews__item__head__title">ОАО Татнефтепродукт</div>
          </div>
          <ul class="reviews__item__list">
            <li><span>Заказчик</span>: ОАО «Татнефтепродукт»</li>
            <li><span>Объект:</span> просп. Победы, 141, Казань, Респ. Татарстан.</li>
            <li><span>Объем:</span> 500м2</li>
            <li><span>Описание:</span> Большинство знаний от производственных до жилых возводят на металлическом каркасе. 
            Считается, что такой остов гарантирует особую прочность и долговечность. Большинство знаний от 
            производственных до жилых возводят на металлическом каркасе. Считается, что такой остов гарантирует 
            особую прочность и долговечность.</li>
          </ul>
        </div>
      </div>
      <!--END reviews__item -->
      <!-- reviews__item -->
      <div class="reviews__item">
        <img src="img/review.png" alt="" class="reviews__item__img">
        <div class="reviews__item__content">
          <div class="reviews__item__head">
            <img src="img/review__logo.png" alt="" class="reviews__item__head__logo">
            <div class="reviews__item__head__title">ОАО Татнефтепродукт</div>
          </div>
          <ul class="reviews__item__list">
            <li><span>Заказчик</span>: ОАО «Татнефтепродукт»</li>
            <li><span>Объект:</span> просп. Победы, 141, Казань, Респ. Татарстан.</li>
            <li><span>Объем:</span> 500м2</li>
            <li><span>Описание:</span> Большинство знаний от производственных до жилых возводят на металлическом каркасе. 
            Считается, что такой остов гарантирует особую прочность и долговечность. Большинство знаний от 
            производственных до жилых возводят на металлическом каркасе. Считается, что такой остов гарантирует 
            особую прочность и долговечность.</li>
          </ul>
        </div>
      </div>
      <!--END reviews__item -->
      <!-- reviews__item -->
      <div class="reviews__item">
        <img src="img/review.png" alt="" class="reviews__item__img">
        <div class="reviews__item__content">
          <div class="reviews__item__head">
            <img src="img/review__logo.png" alt="" class="reviews__item__head__logo">
            <div class="reviews__item__head__title">ОАО Татнефтепродукт</div>
          </div>
          <ul class="reviews__item__list">
            <li><span>Заказчик</span>: ОАО «Татнефтепродукт»</li>
            <li><span>Объект:</span> просп. Победы, 141, Казань, Респ. Татарстан.</li>
            <li><span>Объем:</span> 500м2</li>
            <li><span>Описание:</span> Большинство знаний от производственных до жилых возводят на металлическом каркасе. 
            Считается, что такой остов гарантирует особую прочность и долговечность. Большинство знаний от 
            производственных до жилых возводят на металлическом каркасе. Считается, что такой остов гарантирует 
            особую прочность и долговечность.</li>
          </ul>
        </div>
      </div>
      <!--END reviews__item -->
      <!-- reviews__item -->
      <div class="reviews__item">
        <img src="img/review.png" alt="" class="reviews__item__img">
        <div class="reviews__item__content">
          <div class="reviews__item__head">
            <img src="img/review__logo.png" alt="" class="reviews__item__head__logo">
            <div class="reviews__item__head__title">ОАО Татнефтепродукт</div>
          </div>
          <ul class="reviews__item__list">
            <li><span>Заказчик</span>: ОАО «Татнефтепродукт»</li>
            <li><span>Объект:</span> просп. Победы, 141, Казань, Респ. Татарстан.</li>
            <li><span>Объем:</span> 500м2</li>
            <li><span>Описание:</span> Большинство знаний от производственных до жилых возводят на металлическом каркасе. 
            Считается, что такой остов гарантирует особую прочность и долговечность. Большинство знаний от 
            производственных до жилых возводят на металлическом каркасе. Считается, что такой остов гарантирует 
            особую прочность и долговечность.</li>
          </ul>
        </div>
      </div>
      <!--END reviews__item -->
    </div>
    <div class="btn">посмотреть ещё <img src="img/btn__arrow__bottom.png" alt=""></div>
  </div>
</div>
<!-- ================================END reviews================================= -->


<!-- ========================================= formblock ================================================= -->
    <div class="formblock sec">
      <div class="container">
        
        <div class="section__title">Закажите расчёт стоимости</div>
        <div class="section__desc">и мы свяжемся с Вами для уточнения исходных данных</div>
        <form action="" data-validate>
          <div class="inputgroup">
            <label for="">Введите Ваше имя:</label>
            <input type="text" placeholder="Александр Иванов">
          </div>
          <div class="inputgroup">
            <label for="">Введите Ваше имя:</label>
            <input name="phoneinput" type="text" placeholder="+7 (999) 999-9999" data-mask="phone">
          </div>
          <div class="inputgroup">
            <button class="btn">Отправить</button>
          </div>
        </form>
        <div class="formblock__politics">Нажимая на кнопку “отправить” Вы принимаете условия <a href="">политики конфинденциальности</a></div>
        <img src="img/formblock-1.png" alt="" class="formblock__img">
      </div>
    </div>
    <!-- =========================================END formblock ================================================= -->

{% endblock %}
