{% set title = 'Услуга' %}

{% extends 'layouts/_main.html' %}

{% block content %}

<!-- ================================page__hero================================= -->
<div class="page__hero">
	<div class="container">
		<ul class="breadcrumbs">
			<span>
				<span>
					<a href="https://alliance-ar.com/">Главная страница</a> » 
					<a href="https://alliance-ar.com/">Услуги</a> » 
					<span class="breadcrumb_last" aria-current="page">Услуга – Огнезащитная обработка металлоконструкций</span>
				</span>
			</span>
		</ul>
		<h1 class="page__title">Услуга – Огнезащитная обработка металлоконструкций</h1>
	</div>
</div>
<!-- ================================END page__hero================================= -->
<!-- ================================tableblock================================= -->
<div class="tableblock">
	<div class="container">
		<div class="tableblock__title">Цены на огнезащитную обработку металлоконструкций </div>
		<table>
			<tr class="thead">
				<td>Предел огнестойкости (R), минут</td>
				<td>Стоимость «под ключ» , вкл. НДС 20%</td>
			</tr>
			<tr>
				<td>R15</td>
				<td>от 300 руб./м2</td>
			</tr>
			<tr>
				<td>R15</td>
				<td>от 300 руб./м2</td>
			</tr>
			<tr>
				<td>R15</td>
				<td>от 300 руб./м2</td>
			</tr>
			<tr>
				<td>R15</td>
				<td>от 300 руб./м2</td>
			</tr>
		</table>
	</div>
</div>
<!-- ================================END tableblock================================= -->
<!-- ================================service__contentblock================================= -->
<div class="service__contentblock">
	<div class="container">
		<p class="orange">Основные составляющие стоимости:</p>
		<ul>
			<li>наличие и качество грунтовки</li>
			<li>высота и доступность конструкций</li>
			<li>наличие стесненных условий</li>
			<li>необходимость применения подъёмных механизмов</li>
			<li>система применяемых материалов</li>
		</ul>
		<p class="orange">Данные необходимые для расчета стоимости:</p>
		<ul>
			<li>спецификация металлических конструкций (раздел КМ) и раздела ПБ-9(при наличии)</li>
			<li>наименование и стадия строительства объекта</li>
			<li>степень огнестойкости здания</li>
			<li>качество подготовки металла под покраску</li>
		</ul>
		<p class="orange">Данные необходимые для расчета стоимости:</p>
		<p>В зависимости от приведенной толщины металла и требуемого предела огнестойкости, рассчитывается расход материала 
			на каждый обрабатываемый элемент. Это один из факторов, который существенно влияет на стоимость огнезащитной 
		обработки металлических конструкций.</p>
		<div class="title">Схема работы</div>
		<div class="scheme__items">
			<!-- scheme__item -->
			<div class="scheme__item">
				<div class="scheme__item__icon" style="background-image: url(img/skheme-1.png);"></div>
				<div class="scheme__item__title">Свяжитесь с нами</div>
				<div class="scheme__item__contacts">
					<!-- scheme__item__contact -->
					<div class="scheme__item__contact">
						<div class="scheme__item__contact__icon" style="background-image: url(img/skheme-phone.png);"></div>
						<div class="scheme__item__contact__title">звоните +7 (843) 260 97 79</div>
					</div>
					<!--END scheme__item__contact -->
					<!-- scheme__item__contact -->
					<div class="scheme__item__contact">
						<div class="scheme__item__contact__icon" style="background-image: url(img/skheme-mail.png);"></div>
						<div class="scheme__item__contact__title">пишите info@altius-rf.ru</div>
					</div>
					<!--END scheme__item__contact -->
				</div>
			</div>
			<!--END scheme__item -->
			<!-- scheme__item -->
			<div class="scheme__item">
				<div class="scheme__item__icon" style="background-image: url(img/skheme-2.png);"></div>
				<div class="scheme__item__title">Подготовительный этап</div>
				<ul>
					<li>осмотр объекта и изучение проекта</li>
					<li>разработка технического решения</li>
					<li>согласование стоимости и сроков</li>
				</ul>
			</div>
			<!--END scheme__item -->
			<!-- scheme__item -->
			<div class="scheme__item">
				<div class="scheme__item__icon" style="background-image: url(img/skheme-3.png);"></div>
				<div class="scheme__item__title">Основной этап</div>
				<ul>
					<li>разработка проекта огнезащиты</li>
					<li>производство работ</li>
				</ul>
			</div>
			<!--END scheme__item -->
			<!-- scheme__item -->
			<div class="scheme__item">
				<div class="scheme__item__icon" style="background-image: url(img/skheme-4.png);"></div>
				<div class="scheme__item__title">Заключительный этап</div>
				<ul>
					<li>сдача объекта надзорными органами</li>
					<li>получение заключение ИПЛ МЧС</li>
					<li>подписание актов и передача документации заказчику</li>
				</ul>
			</div>
			<!--END scheme__item -->
		</div>
		<p>В первую очередь мы внимательно знакомимся с объектом и изучаем имеющиеся проектные данные. Выяснив степень огнестойкости здания, 
			пределы огнестойкости защищаемых конструкций, предлагаем возможные способы огнезащиты, которые полностью соответствуют нормативным 
		требованиям пожарной безопасности.</p>
		<p>После утверждения технического решения разрабатываем проект огнезащиты и проект производства работ. 
			Проект согласовываем с надзорными органами, после чего приступаем к производству противопожарных работ.
		</p>
		<div class="title">Этапы огнезащитной обработки</div>
		<p class="orange">1. Подготовка поверхности</p>
		<p>Удаление следов коррозии. В зависимости от степени окисленности металла и необходимой степени его очистки используем различные методы: 
		абразивоструйная обработка, обработка ручными инструментами или модификаторами ржавчины.</p>
		<p>Удаление старых покрытий.</p>
		<p>Обезжиривание и обеспыливание поверхности.</p>
		<p class="orange">2. Нанесение грунтовочных покрытий</p>
		<p> Вид грунтовочного покрытия подбирается с учетом температуры и относительной влажности окружающего воздуха.</p>
		<p class="orange">3. Нанесение огнезащитных составов</p>
		<p>Проводится контроль климатических параметров (температура воздуха, влажность, точка росы и др.).</p>
		<p>В зависимости от применяемого материала используем различное оборудование для нанесения: аппараты безвоздушного распыления поршневого или мембранного типа, аппараты пневматического распыления, штукатурные станции. При необходимости обработка проводится вручную.</p>
		<p>Нанесение проводится в несколько слоев, с соблюдением межслойной сушки покрытия и контролем толщины сухого слоя покрытия.</p>
		<div class="title">Применяемые материалы для огнезащиты металла</div>
		<p>Тонкослойные покрытия являются самым распространенным способом огнезащиты стальных конструкций. 
			К ним относятся краски и составы толщиной не более 3 мм, не утяжеляющие вес конструкции, обладающие 
		превосходными декоративными свойствами.</p>
		<p>Существуют водоразбавляемые и органоразбавляемые составы.</p>
		<p>Первые применяется в помещениях и на открытом воздухе под навесом. Так же можно использовать на улице и в агрессивных средах  
		при нанесении защитного покрывного слоя эмали.</p>
		<p>Вторые - защищают конструкции не только от огня, но и от коррозии. Могут наноситься на голый металл и выдерживают любые 
		атмосферные осадки без защитных покрытий.</p>
		<p>Минераловатные волокнистые материалы - не лучший способ для огнезащиты металлоконструкций. Материалы из базальтовой ваты обладают 
		большой толщиной, их грызут мыши, при воздействии воды и времени они усаживаются и перестают выполнять свои функции.</p>
		<p>Обработка металлоконструкций подразумевает не только стойкость прямого воздействия огня, но и термоизоляцию. В случае пожара
			металлические балки не должны подвергаться воздействию пламени, так что покрытие не должно быть горючим и проводить тепло, а также 
			выделять токсичные вещества при сгорании. Некоторые вещества могут попасть внутрь материала с парами влаги и при возгорании 
		начать испаряться, превращаясь в токсичный дым.</p>
		<div class="title">Особенность и необходимость огнезащиты металлоконструкций</div>
		<p>Несмотря на высокую устойчивость к механическим повреждениям, необработанный металл сильно подвержен воздействиям высоких температур. 
			При пожаре температура в эпицентре может достигать 1000 градусов. Хотя этого и недостаточно, чтобы полностью расплавить металлическое 
		изделие, под воздействием пламени оно начинает расширяться, а его структура ослабевает.</p>
		<p>Это ведет к деформации конструкции и дальнейшему разрушению. Поэтому при определении предела сопротивления огню учитывают не только 
температуру плавления, но и время, в течение которого металл сможет выдержать  высокую температуру, не потеряв своих прочностных свойств. 
Например, металлоконструкция из легированной стали может выдержать более сильный жар, чем железная, но при пожаре все равно начнет 
деформироваться, хотя это и займет больше времени.</p>
<p>Предел огнестойкости - это время, которое обработанные стальные конструкции должны выдерживать без деформации в условиях пожара. 
Чем выше требуемый предел огнестойкости, тем более толстый слой краски нужно будет нанести.</p>
<p>Мы используем сертифицированные материалы, прошедшие испытания в исследовательских центрах.  
В зависимости от условий эксплуатации металлических конструкций, мы подберем оптимальный вариант. </p>
<div class="title">Нормативные документы по огнезащитной обработке зданий и сооружений</div>
<p>Работы по огнезащитной обработке должны выполняться в строгом соответствии с требованиями пожарной безопасности РФ:</p>
<p> Федеральный закон 123-ФЗ «Технический регламент о требованиях пожарной безопасности»
</p>
<p>ГОСТ 53298 «Средства огнезащиты для стальных конструкций»</p>
<p>Зная класс огнестойкости здания, нужно воспользоваться таблицей №21 ФЗ №123 для определения требуемого предела 
огнестойкости той или иной металлической конструкции. В зависимости от этого, выбирается метод огнезащиты и определяются 
толщины защитного покрытия.</p>
<p>Реализуем проекты с максимальной выгодой для клиента</p>
<p>Опытные специалисты, проектный отдел и современное оборудование позволяют нам решать задачи любой сложности в кротчайшие сроки.</p>
<p>Выдерживаем сроки.</p>
<p>Адекватные цены.</p>
<p>Высокое качество подготовки поверхности и нанесения защитного состава.</p>
<p>Гарантия на все выполненные работы.</p>
	</div>
</div>
<!-- ================================END service__contentblock================================= -->
<!-- ========================================= formblock ================================================= -->
    <div class="formblock sec">
      <div class="container">
        <img src="img/formblock-1.png" alt="" class="formblock__img">
        <div class="section__title">Закажите расчёт стоимости</div>
        <div class="section__desc">и мы свяжемся с Вами для уточнения исходных данных</div>
        <form action="">
          <div class="inputgroup">
            <label for="">Введите Ваше имя:</label>
            <input type="text" placeholder="Александр Иванов">
          </div>
          <div class="inputgroup">
            <label for="">Введите Ваше имя:</label>
            <input type="text" placeholder="Александр Иванов">
          </div>
          <div class="inputgroup">
            <button class="btn">Отправить</button>
          </div>
        </form>
        <div class="formblock__politics">Нажимая на кнопку “отправить” Вы принимаете условия <a href="">политики конфинденциальности</a></div>
      </div>
    </div>
    <!-- =========================================END formblock ================================================= -->

{% endblock %}