{% set title = 'Услуга' %} {% extends 'layouts/_main.html' %} {% block content
%}

<!-- ================================page__hero================================= -->
<div class="page__hero">
  <div class="container">
    <ul class="breadcrumbs">
      <span>
        <span>
          <a href="https://alliance-ar.com/">Главная страница</a> »
          <a href="https://alliance-ar.com/">Услуги</a> »
          <span class="breadcrumb_last" aria-current="page"
            >огнезащита Бетонных конструкций</span
          >
        </span>
      </span>
    </ul>
    <h1 class="page__title">огнезащита Бетонных конструкций</h1>
  </div>
</div>
<!-- ================================END page__hero================================= -->
<!-- ================================service__contentblock================================= -->
<div class="service__contentblock">
  <div class="container">
    <p>
      Надёжная защита различных видов металлоизделий от коррозийных процессов
      позволяет обеспечить их длительную эксплуатацию в условиях повышенной
      влажности, при температурных перепадах и в суровых климатических зонах.
    </p>
    <div class="orange">
      Компания «АЛЬТИУС» — гарант высокого качества и надежности!
    </div>
    <p>
      Не пытайтесь самостоятельно подготовить поверхность металлоконструкций, не
      обладая полной технической, теоретической и практической базой знаний. Это
      не простая, и в некоторых случаях опасная задача. Правильно подготовленное
      основание – залог длительной эксплуатации металлоконструкций без
      образования следов коррозии.
    </p>
    <div class="orange">Стоимость антикоррозийной обработки</div>
    <p>Цена напрямую зависит от выполняемых работ, их сложности и объемов.</p>
    <p>
      Мы придерживаемся лояльной ценовой политики и готовы предложить одни из
      самых выгодных расценок в Татарстане.
    </p>
  </div>
</div>
<!-- ================================END service__contentblock================================= -->
<!-- ================================tableblock================================= -->
<div class="tableblock">
  <div class="container">
    <table>
      <tr class="thead">
        <td>Наименование услуги</td>
        <td>Стоимость, вкл. НДС 20%</td>
      </tr>
      <tr>
        <td>Очистка (обезжиривание, обеспыливание)</td>
        <td>от 25 руб./м2</td>
      </tr>
      <tr>
        <td>Нанесение грунтовки</td>
        <td>от 40 руб./м2</td>
      </tr>
      <tr>
        <td>Окраска поверхности</td>
        <td>от 50 руб./м2</td>
      </tr>
      <tr>
        <td>Обработка металла «под ключ»</td>
        <td>от 230 руб./м2</td>
      </tr>
    </table>
  </div>
</div>
<!-- ================================END tableblock================================= -->
<!-- ================================service__contentblock================================= -->
<div class="service__contentblock">
  <div class="container">
    <div class="title">Схема работы</div>
    <div class="scheme__items">
      <!-- scheme__item -->
      <div class="scheme__item">
        <div
          class="scheme__item__icon"
          style="background-image: url(img/skheme-1.png);"
        ></div>
        <div class="scheme__item__title">Свяжитесь с нами</div>
        <div class="scheme__item__contacts">
          <!-- scheme__item__contact -->
          <div class="scheme__item__contact">
            <div
              class="scheme__item__contact__icon"
              style="background-image: url(img/skheme-phone.png);"
            ></div>
            <div class="scheme__item__contact__title">
              звоните +7 (843) 260 97 79
            </div>
          </div>
          <!--END scheme__item__contact -->
          <!-- scheme__item__contact -->
          <div class="scheme__item__contact">
            <div
              class="scheme__item__contact__icon"
              style="background-image: url(img/skheme-mail.png);"
            ></div>
            <div class="scheme__item__contact__title">
              пишите info@altius-rf.ru
            </div>
          </div>
          <!--END scheme__item__contact -->
        </div>
      </div>
      <!--END scheme__item -->
      <!-- scheme__item -->
      <div class="scheme__item">
        <div
          class="scheme__item__icon"
          style="background-image: url(img/skheme-2.png);"
        ></div>
        <div class="scheme__item__title">Подготовительный этап</div>
        <ul>
          <li>осмотр объекта и изучение проекта</li>
          <li>разработка технического решения</li>
          <li>согласование стоимости и сроков</li>
        </ul>
      </div>
      <!--END scheme__item -->
      <!-- scheme__item -->
      <div class="scheme__item">
        <div
          class="scheme__item__icon"
          style="background-image: url(img/skheme-3.png);"
        ></div>
        <div class="scheme__item__title">Основной этап</div>
        <ul>
          <li>разработка проекта огнезащиты</li>
          <li>производство работ</li>
        </ul>
      </div>
      <!--END scheme__item -->
      <!-- scheme__item -->
      <div class="scheme__item">
        <div
          class="scheme__item__icon"
          style="background-image: url(img/skheme-4.png);"
        ></div>
        <div class="scheme__item__title">Заключительный этап</div>
        <ul>
          <li>сдача объекта надзорными органами</li>
          <li>получение заключение ИПЛ МЧС</li>
          <li>подписание актов и передача документации заказчику</li>
        </ul>
      </div>
      <!--END scheme__item -->
    </div>
    <p>
      Антикоррозийная обработка металлоконструкций даёт возможность сохранить
      физические свойства материала, исключить повреждения его структуры и
      является обязательным этапом при проведении огнезащитных работ.
    </p>
    <div class="title">
      Основные способы антикоррозионной защиты металлоконструкций
    </div>
    <div class="orange">
      В настоящее время активно используются такие виды защиты
      металлоконструкций:
    </div>
    <ul>
      <li>
        При производстве металлов в их состав добавляют специальные компоненты,
        повышающие стойкость к воздействию коррозии;
      </li>
      <li>
        Применение внешнего тока, позволяющего создать электрохимическую защиту;
      </li>
      <li>Использование металлоконструкций в менее агрессивной среде;</li>
      <li>
        Обработка металлической поверхности специальными материалами, которые
        предупреждают образование ржавчины.
      </li>
    </ul>
    <p>
      Самая простая и востребованная антикоррозийная защита металлоконструкций
      заключается в применении специальных эмалей и грунтов. Такие лакокрасочные
      материалы можно использовать для обработки любых металлических
      конструкций.
    </p>
    <div class="orange">Главные преимущества таких покрытий:</div>
    <ul>
      <li>простота нанесения;</li>
      <li>многообразие расцветок и оттенков;</li>
      <li>простота нанесения;</li>
      <li>низкая стоимость</li>
    </ul>
    <div class="title">Как выбрать лакокрасочные материалы для обработки?</div>
    <div class="orange">
      Подбирать систему покрытия нужно с учетом следующих факторов:
    </div>
    <ul>
      <li>тип металлических конструкций;</li>
      <li>состояние изделий на данный момент времени;</li>
      <li>степень разрушения обрабатываемой поверхности;</li>
      <li>необходимый срок антикоррозийной защиты;</li>
      <li>бюджет на приобретение лакокрасочных покрытий.</li>
    </ul>
    <div class="title">Особенности материалов для антикоррозийной защиты</div>
    <p>
      Чаще всего в составе антикоррозионных материалов есть 2 основных
      компонента — это эмаль и грунтовка.
    </p>
    <div class="orange">Классическое покрытие имеет 3 слоя:</div>
    <ul>
      <li>грунтовочный, обеспечивающий качественную адгезию;</li>
      <li>
        барьерный, препятствующий проникновение факторов агрессивных сред;
      </li>
      <li>
        финишный, обладающий как эстетическими, так и барьерными свойствами.
        Кроме того, он надёжно защищает металл от негативного воздействия
        УФ-лучей
      </li>
    </ul>
  </div>
</div>
<!-- ================================END service__contentblock================================= -->
<!-- ========================================= formblock ================================================= -->
<div class="formblock sec">
  <div class="container">
    <img src="img/formblock-1.png" alt="" class="formblock__img" />
    <div class="section__title">Закажите расчёт стоимости</div>
    <div class="section__desc">
      и мы свяжемся с Вами для уточнения исходных данных
    </div>
    <form action="">
      <div class="inputgroup">
        <label for="">Введите Ваше имя:</label>
        <input type="text" placeholder="Александр Иванов" />
      </div>
      <div class="inputgroup">
        <label for="">Введите Ваше имя:</label>
        <input type="text" placeholder="Александр Иванов" />
      </div>
      <div class="inputgroup">
        <button class="btn">Отправить</button>
      </div>
    </form>
    <div class="formblock__politics">
      Нажимая на кнопку “отправить” Вы принимаете условия
      <a href="">политики конфинденциальности</a>
    </div>
  </div>
</div>
<!-- =========================================END formblock ================================================= -->

{% endblock %}
