{% set title = 'Услуга' %} {% extends 'layouts/_main.html' %} {% block content
%}

<!-- ================================page__hero================================= -->
<div class="page__hero">
  <div class="container">
    <ul class="breadcrumbs">
      <span>
        <span>
          <a href="https://alliance-ar.com/">Главная страница</a> »
          <a href="https://alliance-ar.com/">Услуги</a> »
          <span class="breadcrumb_last" aria-current="page"
            >огнезащита Бетонных конструкций</span
          >
        </span>
      </span>
    </ul>
    <h1 class="page__title">огнезащита Бетонных конструкций</h1>
  </div>
</div>
<!-- ================================END page__hero================================= -->
<!-- ================================service__contentblock================================= -->
<div class="service__contentblock">
  <div class="container">
    <p>
      Бетон и металл – материалы, не подверженные горению. Однако, под
      воздействием открытого пламени и постоянного нагрева до критически высокой
      температуры они теряют свои прочностные характеристики и деформируются.
      Это становится причиной обрушения стен и перекрытий зданий и сооружений.
    </p>
    <p>
      Услуги квалифицированных сотрудников сферы проведения огнезащиты бетонных
      и железобетонных конструкций – это мероприятия, направленные на повышение
      предела огнестойкости различных видов строительных конструкций до
      нескольких часов.
    </p>
    <p>
      Расчетный период выбирается по типу объекта. Это время, достаточное для
      эвакуации людей, выноса ценностей, тушения пожара без риска обрушения.
    </p>
    <p class="orange">
      Для получения лучшего результата компания «Альтиус» применяет:
    </p>
    <ul>
      <li>высокоэффективные огнезащитные материалы последних поколений;</li>
      <li>современные технологии их нанесения;</li>
      <li>профессиональное оборудование и оснащение.</li>
    </ul>
    <p>
      Такие мероприятия повышают предел огнестойкости стен, перекрытий, колонн и
      прочих конструктивных элементов с соблюдением требований нормативных
      документов.
    </p>
    <div class="title">
      Грамотно проведенный комплекс работ и применение сертифицированных
      составов позволяют:
    </div>
    <p>
      1. Обеспечить соответствие бетонных и железобетонных изделий нормативам и
      требованиям пожарной безопасности, действующим на территории РФ;
    </p>
    <p>
      2. Предотвратить деформацию и разрушение конструкций под воздействием
      высоких температур и открытого пламени, возникающих в следствие:
    </p>
    <ul>
      <li>разного линейного расширения бетона и усиливающей его арматуры,</li>
      <li>испарения влаги из бетона и ЖБИ,</li>
      <li>усиления как результат внутреннего напряжения конструкции;</li>
    </ul>
    <p>
      3. Снять риски угрозы жизни, здоровью людей, утраты имущества и объекта в
      целом.
    </p>
    <div class="bordertext">
      Проведение мероприятий должного уровня обеспечат профессионалы компании
      «АЛЬТИУС» - одного из лидеров профильного рынка Поволжья
    </div>
    <p class="orange">
      Обеспечим максимальный уровень сопротивляемости высоким температурам:
    </p>
    <ul>
      <li>несущих элементов зданий и сооружений любого назначения;</li>
      <li>наружных несущих стен и перекрытий;</li>
      <li>площадок, ферм, балок, прогонов и настилов;</li>
      <li>перекрытий над подвалами и чердаками, служебными этажами;</li>
      <li>внутренних стен и лестничных маршей;</li>
      <li>других поверхностей и архитектурных форм.</li>
    </ul>
    <div class="title">Схема работы</div>
    <div class="scheme__items">
      <!-- scheme__item -->
      <div class="scheme__item">
        <div
          class="scheme__item__icon"
          style="background-image: url(img/skheme-1.png);"
        ></div>
        <div class="scheme__item__title">Свяжитесь с нами</div>
        <div class="scheme__item__contacts">
          <!-- scheme__item__contact -->
          <div class="scheme__item__contact">
            <div
              class="scheme__item__contact__icon"
              style="background-image: url(img/skheme-phone.png);"
            ></div>
            <div class="scheme__item__contact__title">
              звоните +7 (843) 260 97 79
            </div>
          </div>
          <!--END scheme__item__contact -->
          <!-- scheme__item__contact -->
          <div class="scheme__item__contact">
            <div
              class="scheme__item__contact__icon"
              style="background-image: url(img/skheme-mail.png);"
            ></div>
            <div class="scheme__item__contact__title">
              пишите info@altius-rf.ru
            </div>
          </div>
          <!--END scheme__item__contact -->
        </div>
      </div>
      <!--END scheme__item -->
      <!-- scheme__item -->
      <div class="scheme__item">
        <div
          class="scheme__item__icon"
          style="background-image: url(img/skheme-2.png);"
        ></div>
        <div class="scheme__item__title">Подготовительный этап</div>
        <ul>
          <li>осмотр объекта и изучение проекта</li>
          <li>разработка технического решения</li>
          <li>согласование стоимости и сроков</li>
        </ul>
      </div>
      <!--END scheme__item -->
      <!-- scheme__item -->
      <div class="scheme__item">
        <div
          class="scheme__item__icon"
          style="background-image: url(img/skheme-3.png);"
        ></div>
        <div class="scheme__item__title">Основной этап</div>
        <ul>
          <li>разработка проекта огнезащиты</li>
          <li>производство работ</li>
        </ul>
      </div>
      <!--END scheme__item -->
      <!-- scheme__item -->
      <div class="scheme__item">
        <div
          class="scheme__item__icon"
          style="background-image: url(img/skheme-4.png);"
        ></div>
        <div class="scheme__item__title">Заключительный этап</div>
        <ul>
          <li>сдача объекта надзорными органами</li>
          <li>получение заключение ИПЛ МЧС</li>
          <li>подписание актов и передача документации заказчику</li>
        </ul>
      </div>
      <!--END scheme__item -->
    </div>
    <div class="bordertext">
      Для наших клиентов: адекватные цены на услуги, высокое качество
      результата, гарантии производителя и исполнителя
    </div>
    <div class="orange">
      Услуги для обеспечения огнезащиты бетона и железобетонных конструкций
    </div>
    <p>
      Команда «АЛЬТИУС» выполняет ряд мероприятий для повышения пределов
      огнестойкости бетонных и железобетонных конструкций.
    </p>
    <div class="orange">
      Среди основных методов огнезащиты:
    </div>
    <ul>
      <li>
        тонкослойные покрытия в любое время года наружных и внутренних
        поверхностей специальными составами, которые:
        <ul>
          <li>- не утяжеляют конструкции</li>
          <li>- выдерживают воздействие открытого пламени до 150 минут,</li>
          <li>
            - при возгорании расширяются, вспучиваются, образуют пористый
            защитный слой с низкой теплопроводностью;
          </li>
        </ul>
      </li>
      <li>
        покрытие внутренних поверхностей только сухих помещений
        специализированными штукатурными смесями с применением армирующих сеток
        в помещениях с вибрационными нагрузками - эффективная огнезащита
        железобетона до 240 минут при возгорании;
      </li>
      <li>
        дополнительное бетонирование (при необходимости с армированием), что
        приводит к увеличению веса конструкции. Такой способ, применяемый для
        укрепления старых и даже разрушающихся конструкций, потребует
        дополнительной площади или сократит полезную.
      </li>
      <li>
        армирование углеродными тканями на эпоксидной основе с дополнительным
        нанесением огнезащиты – альтернативный бетонированию вариант при
        отсутствии возможности увеличения давления на фундамент;
      </li>
      <li>
        облицовка плитами с повышенной огне- и влагостойкостью, выполненными с
        добавлением перлита, вермикулита, керамзита, минеральных или иных
        волокон (кварцевые, кремнеземистые, каолиновые) – наиболее эффективный
        способ, который повышает предел огнестойкости до 6 часов.
      </li>
      <p>
        Для каждого объекта наши мастера выбирают допустимые варианты
        огнезащиты.
      </p>
      <ul>
        <li>
          Проведем расчеты с учетом типа, марки, влажности бетона, класса и
          толщины, примененной в конструкции арматуры.
        </li>
        <li>
          Учтем геометрию опор, максимальный уровень предельной нагрузки и т.п.
        </li>
      </ul>
      <p>
        Результаты расчетов позволяют определить естественную огнестойкость
        бетона и железобетона, найти оптимальный вариант защиты.
      </p>
      <div class="orange">
        В результате проведения работ снимаются все риски, свойственные реакции
        бетона и железобетона на открытое пламя, а именно:
      </div>
      <ul>
        <li>сокращение размера бетонного сечения;</li>
        <li>уменьшение толщины слоя;</li>
        <li>исчезновение защиты рабочей арматуры;</li>
        <li>появление сквозных отверстий.</li>
      </ul>
      <p>Особенности ценообразования и выполнения заказов на услуги</p>
      <p>
        Принимаем заявки на огнезащиту бетона и железобетона от физических и
        юридических лиц по Республике Татарстан, Поволжскому региону и РФ.
      </p>
      <p>При взаимодействии на постоянной основе предусмотрены скидки.</p>
      <p>Разработаны агентские договоры по специальными условиям.</p>
      <p>
        Обеспечиваем клиентам «Альтиус» полноценную и бесплатную информационную
        и консультационную поддержку по телефону и в режиме онлайн. На связи
        всегда опытные специалисты, которые:
      </p>
      <ul>
        <li>ответят на ваши вопросы;</li>
        <li>помогут выбрать составы;</li>
        <li>определят список мероприятий;</li>
        <li>сформируют сметный расчет.</li>
      </ul>
      <p>
        Ценообразование прозрачное и понятное без скрытых платежей или
        посреднических комиссий, поскольку мы работаем без сторонних
        специалистов.
      </p>
    </ul>
  </div>
</div>
<!-- ================================END service__contentblock================================= -->
<!-- ========================================= formblock ================================================= -->
<div class="formblock sec">
  <div class="container">
    <img src="img/formblock-1.png" alt="" class="formblock__img" />
    <div class="section__title">Закажите расчёт стоимости</div>
    <div class="section__desc">
      и мы свяжемся с Вами для уточнения исходных данных
    </div>
    <form action="">
      <div class="inputgroup">
        <label for="">Введите Ваше имя:</label>
        <input type="text" placeholder="Александр Иванов" />
      </div>
      <div class="inputgroup">
        <label for="">Введите Ваше имя:</label>
        <input type="text" placeholder="Александр Иванов" />
      </div>
      <div class="inputgroup">
        <button class="btn">Отправить</button>
      </div>
    </form>
    <div class="formblock__politics">
      Нажимая на кнопку “отправить” Вы принимаете условия
      <a href="">политики конфинденциальности</a>
    </div>
  </div>
</div>
<!-- =========================================END formblock ================================================= -->

{% endblock %}
