{% set title = 'Список услуг' %} {% extends 'layouts/_main.html' %} {% block
content %}

<!-- ================================page__hero================================= -->
<div class="page__hero">
  <div class="container">
    <ul class="breadcrumbs">
      <span>
        <span>
          <a href="https://alliance-ar.com/">Главная страница</a> »
          <span class="breadcrumb_last" aria-current="page">Список услуг</span>
        </span>
      </span>
    </ul>
    <h1 class="page__title">Наши услуги</h1>
    <div class="page__desc">Полный спектр наших услуг</div>
  </div>
</div>
<!-- ================================END page__hero================================= -->
<!-- ================================services================================= -->
<div class="services sec">
  <div class="container">
    <div class="section__title">Список услуг</div>
    <div class="services__items">
      <!-- services__item -->
      <div class="services__item">
        <div class="services__item__img" style="background-image: url(img/service.png)"></div>
        <div class="services__item__content">
          <div class="services__item__title">
            антикоррозионная защита металлоконструкций (АКЗ)
          </div>
          <div class="services__item__desc">
            Надёжная защита различных видов металлоизделий от коррозийных
            процессов позволяет обеспечить их длительную эксплуатацию в условиях
            повышенной влажности, притемпературных перепадах и в суровых
            климатических зонах.
          </div>
          <div class="services__item__price">Цена: от 300 р. м2</div>
          <div class="services__item__btns">
            <button class="btn__mini">Смотреть подробнее</button>
            <button class="btn__mini border">заказать Расчёт</button>
          </div>
        </div>
      </div>
      <!--END services__item -->
      <!-- services__item -->
      <div class="services__item">
        <div class="services__item__img" style="background-image: url(img/service.png)"></div>
        <div class="services__item__content">
          <div class="services__item__title">
            антикоррозионная защита металлоконструкций (АКЗ)
          </div>
          <div class="services__item__desc">
            Надёжная защита различных видов металлоизделий от коррозийных
            процессов позволяет обеспечить их длительную эксплуатацию в условиях
            повышенной влажности, притемпературных перепадах и в суровых
            климатических зонах.
          </div>
          <div class="services__item__price">Цена: от 300 р. м2</div>
          <div class="services__item__btns">
            <button class="btn__mini">Смотреть подробнее</button>
            <button class="btn__mini border">заказать Расчёт</button>
          </div>
        </div>
      </div>
      <!--END services__item -->
      <!-- services__item -->
      <div class="services__item">
        <div class="services__item__img" style="background-image: url(img/service.png)"></div>
        <div class="services__item__content">
          <div class="services__item__title">
            антикоррозионная защита металлоконструкций (АКЗ)
          </div>
          <div class="services__item__desc">
            Надёжная защита различных видов металлоизделий от коррозийных
            процессов позволяет обеспечить их длительную эксплуатацию в условиях
            повышенной влажности, притемпературных перепадах и в суровых
            климатических зонах.
          </div>
          <div class="services__item__price">Цена: от 300 р. м2</div>
          <div class="services__item__btns">
            <button class="btn__mini">Смотреть подробнее</button>
            <button class="btn__mini border">заказать Расчёт</button>
          </div>
        </div>
      </div>
      <!--END services__item -->
      <!-- services__item -->
      <div class="services__item">
        <div class="services__item__img" style="background-image: url(img/service.png)"></div>
        <div class="services__item__content">
          <div class="services__item__title">
            антикоррозионная защита металлоконструкций (АКЗ)
          </div>
          <div class="services__item__desc">
            Надёжная защита различных видов металлоизделий от коррозийных
            процессов позволяет обеспечить их длительную эксплуатацию в условиях
            повышенной влажности, притемпературных перепадах и в суровых
            климатических зонах.
          </div>
          <div class="services__item__price">Цена: от 300 р. м2</div>
          <div class="services__item__btns">
            <button class="btn__mini">Смотреть подробнее</button>
            <button class="btn__mini border">заказать Расчёт</button>
          </div>
        </div>
      </div>
      <!--END services__item -->
    </div>
  </div>
</div>
<!-- ================================END services================================= -->

<!-- ========================================= formblock ================================================= -->
<div class="formblock sec">
  <div class="container">
    <img src="img/formblock-1.png" alt="" class="formblock__img" />
    <div class="section__title">Закажите расчёт стоимости</div>
    <div class="section__desc">
      и мы свяжемся с Вами для уточнения исходных данных
    </div>
    <form action="">
      <div class="inputgroup">
        <label for="">Введите Ваше имя:</label>
        <input type="text" placeholder="Александр Иванов" />
      </div>
      <div class="inputgroup">
        <label for="">Введите Ваше имя:</label>
        <input type="text" placeholder="Александр Иванов" />
      </div>
      <div class="inputgroup">
        <button class="btn">Отправить</button>
      </div>
    </form>
    <div class="formblock__politics">
      Нажимая на кнопку “отправить” Вы принимаете условия
      <a href="">политики конфинденциальности</a>
    </div>
  </div>
</div>
<!-- =========================================END formblock ================================================= -->

{% endblock %}
